<h1>
  Game <code><%= @game.name %></code> as <mark>player <%= @player.role.upcase %></mark>
</h1>

<article class="grid">
  <div>
    <h2>Game Object</h2>
    <pre class="language-json">
      <code>
<%= JSON.pretty_generate(GameSerializer.new(@game, @player).as_json) %>
      </code>
    </pre>
  </div>
  <div>
    <h2>Board</h2>
    <pre class="language-plain">
      <code>
<%= AsciiBoardState.encode(@game.board).join("\n") %>
      </code>
    </pre>
  </div>
</article>
